@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border-color: #82B3D3;
}

.main-index{
  text-align: center;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.presentation {
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.presentation::before {
  background-color: #FFFFFF;
  background-image: url("../images/white-plate.svg)");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages-page-title,
.presentation-acquaintance,
.subscription-title,
.filter-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title,
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list,
.services-description,
.select-control,
.hotel-card-text {
  font-size: 18px;
  line-height: 21px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.subscription {
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% 415px;
  background-repeat: no-repeat;
  height: 415px;
}

.subscription-title,
.subscription-promise {
  color: #FFFFFF;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter {
  background-color: #82B3D3;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.button-reset {
  color: inherit;
  background-color: rgba(28,28,28,0);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.raiting-value {
  color: #333333;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-promise-catalog {
  color: #333333;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.navigation-link-user,
.hotel-search-but,
.hotel-card-button {
  background-color: #756157;
}

.subscription-catalog {
  text-align: center;
}

.button-added {
  background-color: #7DB54F;
}

.navigation-list,
.advantages-list,
.services-list,
.footer-social-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-list,
.pagination {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.email,
.cost-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.select-control {
  font-family: inherit;
}

.cost-input {
  font-weight: 700;
}
